html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 85% georgia, sans-serif;
	line-height: 1.88889;
    color: #81966d; 
    background: rgb(18, 18, 29);
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; }